.formData{
  width: 30rem;
  margin: auto;
}



.container{
	border: solid ;
}

.Container{
  /* border: solid 2px; */
}
.responseContainer{
  display: grid;
  border: solid 0.1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
h2{
  text-align: center;
}

h3{
  font-size: 1.25rem;
}

.buttonContainer{
  /* display: flex; */
  /* flex-direction: row; */
  /* border: solid; */
  /* height: 2.5rem; */
  /* position: relative; */
}


.buttonContainer button {
  /* width: 5.5rem; */
  /* padding: 0.2rem; */
  /* border-radius: 0.45rem; */
  /* position: absolute; */
  /* bottom: 0; */
}


.response{
  border: solid 0.1rem ;
  /* overflow: hidden; */
  font-size: 10px;
  height: ;
}

.action-button{
	/* position: absolute; */
	left: 50%;
	transform: translate(-50%, -50%);
}


button {
  appearance: none;
  width: 7.95rem;
  position: absolute;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: #258df6;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6.25rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

button:hover {
  background-color: #020202;
  text-decoration: none;
  transition-duration: 0.1s;
}









@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f4f4f4;
	padding: 0 2rem;
}


input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0 5%;
	position: relative;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #a9a9a9; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
  &:invalid {
    &+.input-label {
			transform: translateY(-1.5rem);
		}
  }
}



.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.10rem;
	/* padding: 1em; */
	width: 50%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 0.35rem;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
}




